/*LANDING BIO BACKGROUND*/

@media only screen and (max-width: 650px) {
    .layer2 {
        text-align: center;
        width: 100%;
    }

}

.wrapper{
    min-width: 320px;
    width: 100%;
    font-size: 16px;
    min-height: 120vh;
    position: relative;
    background: url('/images/pre-sale-bg.png') 50% no-repeat; background-size: cover;
    padding-top: 56px;
    padding-bottom: 40px;
}

.desc p{
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
    color: #000;
    font-size: 36px !important;
}

.main-content__desc {
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    margin-top: 40px;
    line-height: 30px;
    /*font-weight: 400;*/
}

strong {
    font-weight: 600;
}
@media only screen and (max-height: 768px){
    .valentine-logo img {
        max-width: 70%;
    }

    .desc ul li {
        font-size: 18px !important;
    }

    ul {
        padding:0 !important;
    }
}


.scl-btn {
    padding: 15px;
    font-size: 25px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    margin:5px;
    color: white;
}
.fa-facebook-f { background: #3B5998; }

.btn-telegram{
    font-size: 18px;
    justify-content: space-between;
    padding: 4px 0 8px;
    color: #f3e7e7 !important;
    border: none;
    background: #2C9AFD;
    border-radius: 0 0 0 0;
    float: left;
}
.btn-viber{
    font-size: 18px;
    justify-content: space-between;
    padding: 4px 0 8px;
    color: #f3e7e7 !important;
    border: none;
    background :#682A94;
    border-radius: 0 8px 8px 0;
    float: left;
}

.btn-messenger{
    font-size: 18px;
    justify-content: space-between;
    padding: 4px 0 8px;
    color: #f3e7e7 !important;
    border: none;
    background: #1CAAEE;
    border-radius: 8px 0 0 8px;
    float: left;
}

.icon{
    width: 36px;
    height: 36px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding: 6px;
}

.desc ul li {
    list-style: none;
    padding-left: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px !important;
    color: #000;
    padding-top: 10px;
    position: relative;
}

.desc ul li:after {
    top: 15px;
    content: "";
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #bacc73;
}


@media only screen and (max-width: 1100px){

    .social-image{
        display: block !important;
    }

    .main-image{
        display: none;
    }

    .desc p {
        font-size: 20px !important;
    }

    .main-content__desc {
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px !important;
        line-height: 24px;
    }

    .row.text-row{
        padding-left: 30px !important;
        padding-right: 5px !important;
    }


    .wrapper:after {
        left: 20px;
    }

    .wrapper::after{
        width: 15px;
    }

    .container-fluid::after{
        width: 15px;
    }

    .container-fluid:after{
        left: 35px;
    }


    .col-md-4{
        width: 33% !important;
    }
}

.social-image{
    display: none;
}

.row.text-row {
    margin-top: 50px;
    padding-left: 136px;
}


.main-content__desc span {
    display: block;
    margin-top: 20px;
}

@media only screen and (max-width: 1100px){
    .main-image {
        display: none !important;
    }

    .container-fluid {
        padding-left: 50px !important;
    }

    .desc ul li {
        font-size: 14px !important;
    }

}




@font-face {
    font-family: FiraSansBlack; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Black.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSansBold; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Bold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSansBoldItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-BoldItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSansBook; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Book.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSansBookItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-BookItalic.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSansEight; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Eight.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSansEightItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-EightItalic.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-ExtraBold; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-ExtraBold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSansBold; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Bold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-ExtraBoldItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-ExtraBoldItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-ExtraLight; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-ExtraLight.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-ExtraLightItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-ExtraLightItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSansBold; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Bold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
/*new*/
@font-face {
    font-family: FiraSans-BoldItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-BoldItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-Book; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Book.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-BookItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-BookItalic.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-Eight; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Eight.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-ExtraLightItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-ExtraLightItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-EightItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-EightItalic.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-ExtraBold; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-ExtraBold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-ExtraBoldItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-ExtraBoldItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}@font-face {
    font-family: FiraSans-ExtraLight; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-ExtraLight.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-ExtraLightItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-ExtraLightItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}@font-face {
    font-family: FiraSans-Four; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Four.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-FourItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-FourItalic.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face {
    font-family: FiraSans-Hair; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Hair.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}@font-face {
    font-family: FiraSans-HairItalic;/* ָל רנטפעא */
    src: url(../fonts/FiraSans-HairItalic.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-Heavy; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Heavy.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}@font-face {
    font-family: FiraSans-HeavyItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-HeavyItalic.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-Italic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Italic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face {
    font-family: FiraSans-Light; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Light.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}@font-face {
    font-family: FiraSans-LightItalic;/* ָל רנטפעא */
    src: url(../fonts/FiraSans-LightItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-Medium; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Medium.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}@font-face {
    font-family: FiraSans-MediumItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-MediumItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-Regular; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Regular.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}


@font-face {
    font-family: FiraSans-SemiBold; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-SemiBold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}@font-face {
    font-family: FiraSans-SemiBoldItalic;/* ָל רנטפעא */
    src: url(../fonts/FiraSans-SemiBoldItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-Thin; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Thin.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}@font-face {
    font-family: FiraSans-ThinItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-ThinItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-Two; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-Two.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}


@font-face {
    font-family: FiraSans-TwoItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-TwoItalic.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}@font-face {
    font-family: FiraSans-Ultra;/* ָל רנטפעא */
    src: url(../fonts/FiraSans-Ultra.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-UltraItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-UltraItalic.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}@font-face {
    font-family: FiraSans-UltraLight; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-UltraLight.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: FiraSans-UltraLightItalic; /* ָל רנטפעא */
    src: url(../fonts/FiraSans-UltraLightItalic.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
